!!!
%html
  %head
    %title Who's Hiring? - #{@month.name}
    %script{ :src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js' }
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"

    %link{ href: "http://fonts.googleapis.com/css?family=Montserrat:400,700", rel: "stylesheet", type: "text/css"}
    %link{ href: "http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic", rel: "stylesheet", type:"text/css"}


  %body.index
    %nav.navbar.navbar-default.navbar-fixed-top
      .navbar-header.page-scroll
        = image_tag("y18.gif", id: 'hacker_news_icon')
        .title.left
          %a{ :href => @month.url } Who's hiring? - #{@month.name}
          %span.green
            \- by -
          %a{ :href => 'http://jordinl.com' }Jordi Noguera
        .right
          %input.filter.form-control{ name: 'filter', placeholder: "Filter" }
    = yield

    .alert.alert-success.hire-me
      %a{href: "http://jordinl.com"} I'm available for hire!

:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', "#{ENV['ANALYTICS_ID']}" ]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

